<div fxFlex class="page-layout simple fullwidth pb-16">

    <div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center" class="header accent p-24">
        <h2>Add Employee wizard</h2>
    </div>

    <div class="p-24" fxFlex>
        <div fxLayout="column" fxLayoutGap="16px">
            <div fxLayout="row" fxLayoutGap="24px">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Full Name" [(ngModel)]="empData.personalDetail.firstName" required>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Middle Name" [(ngModel)]="empData.personalDetail.middleName">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Last Name" [(ngModel)]="empData.personalDetail.lastName">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="24px">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Employee Id" [(ngModel)]="empData.personalDetail.employeeId" required disabled>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Location" [(ngModel)]="empData.personalDetail.locationId">
                </mat-form-field>
                <div class="file-uploader">
                    <input hidden type="file" #fileInput />
                    <button mat-fab color="warn" class="add-file-button" (click)="fileInput.click()"
                        aria-label="Add file" [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                        <mat-icon>image</mat-icon>
                    </button>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="24px">
                <mat-checkbox fxFlex (change)="onChange($event)">Create Login Details</mat-checkbox>
            </div>

            <div *ngIf="empData.addLoginDetail">
                <div fxLayout="row" fxLayoutGap="24px">
                    <mat-form-field fxFlex>
                        <input matInput placeholder="User Name" [(ngModel)]="empData.loginDetail.username" required>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-label>Status</mat-label>
                        <mat-select required  [(ngModel)]="empData.loginDetail.status">
                            <mat-option>Enabled</mat-option>
                            <mat-option>Disabled</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap="24px">
                    <mat-form-field fxFlex>
                        <input matInput placeholder="Password" required  [(ngModel)]="empData.loginDetail.password">
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <input matInput placeholder="Confirm Password" required>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                    <label fxFlex="300px">
                        For a strong password, please use a hard to guess combination of text with upper and lower case
                        characters, symbols and numbers
                    </label>
                </div>

                <div fxLayout="row" fxLayoutGap="24px">
                    <mat-form-field fxFlex>
                        <mat-label>ESS Role</mat-label>
                        <mat-select required  [(ngModel)]="empData.loginDetail.essRole">
                            <mat-option>-- Select --</mat-option>
                            <mat-option>Default ESS</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-label>Supervisor Role</mat-label>
                        <mat-select required  [(ngModel)]="empData.loginDetail.supervisorRole">
                            <mat-option>-- Select --</mat-option>
                            <mat-option>Default Supervisor</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap="24px">
                    <mat-form-field fxFlex="300px">
                        <mat-label>Admin Role</mat-label>
                        <mat-select required [(ngModel)]="empData.loginDetail.adminRole">
                            <mat-option>-- Select --</mat-option>
                            <mat-option>Gobal Admin</mat-option>
                            <mat-option>Asset Manager</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div mat-dialog-actions fxFlex fxLayout="row" fxLayoutAlign="end center" class="pr-16">
        <button mat-raised-button color="accent" (click)="gotoWizard()">Next</button>
    </div>

</div>