<div class="page-layout simple p-16 h-100-p">
    <div class="mat-elevation-z8 p-16 h-100-p  fuse-white" fxLayout="column" fxLayoutGap="8px">
        <div fxLayoutAlign="space-between center">
            <span fxFlex class="mat-title mb-0">User Roles</span>
            <button mat-raised-button color="accent">
                <mat-icon>add</mat-icon>
                Add User Role
            </button>
        </div>
        <mat-divider></mat-divider>
        <table fxFlex mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="userrole">
                <th mat-header-cell *matHeaderCellDef> User Role </th>
                <td mat-cell *matCellDef="let element"> {{element.userrole}} </td>
            </ng-container>

            <ng-container matColumnDef="roleType">
                <th mat-header-cell *matHeaderCellDef> User Role Type </th>
                <td mat-cell *matCellDef="let element"> {{element.roleType}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon mat-icon-button>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="edit()">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item (click)="delete()">
                            <mat-icon>block</mat-icon>
                            <span>Prevent Access To</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>