<form [formGroup]="locationForm">

  <label>
      Name:
      <input type="text" formControlName="Name">
  </label>

  <label>
      City:
      <input type="text" formControlName="City">
  </label>

  <label>
      Country:
      <input type="text" formControlName="Country">
  </label>

  <label>
      Address:
      <input type="text" formControlName="Address">
  </label>
  <br />
  <label>
      ZIP/Postal Code:
      <input type="text" formControlName="ZipCode">
  </label>

  <label>
      Phone:
      <input type="text" formControlName="Phone">
  </label>

  <label>
      Fax:
      <input type="text" formControlName="Fax">
  </label>

  <label>
      Comments:
      <input type="text" formControlName="Comments">
  </label>

  <button type="submit" (click)="saveLocationInfo()">Save</button>
  <button (click)="getLocationInfo()">Get</button>
</form>