<div class="content p-24">
    <div class="horizontal-stepper-wrapper">

        <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true" #stepper>

            <mat-step [stepControl]="step1.horizontalStepperStep1">
                <app-personal-details #step1>
                    <ng-template matStepLabel>Personal Details</ng-template>
                </app-personal-details>
            </mat-step>

            <mat-step [stepControl]="step2.horizontalStepperStep2">
                <app-employment-details #step2>
                    <ng-template matStepLabel>Employment Details</ng-template>
                </app-employment-details>
            </mat-step>

            <mat-step [stepControl]="step3.horizontalStepperStep3">
                <app-member-ships #step3>
                    <ng-template matStepLabel>Member Ships</ng-template>
                </app-member-ships>
            </mat-step>

            <mat-step [stepControl]="step4.horizontalStepperStep3">
                <app-direct-deposit #step4>
                    <ng-template matStepLabel>Direct Deposit</ng-template>
                </app-direct-deposit>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                    Thank your for filling out our form.
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                        Previous
                    </button>
                    <button mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()">
                        Finish
                    </button>
                </div>
            </mat-step>

        </mat-horizontal-stepper>
    </div>
</div>