<form fxLayout="column" [formGroup]="horizontalStepperStep2">

    <ng-template matStepLabel>Employment Details</ng-template>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
        <div class="h2 secondary-text primary-fg">Employment Details</div>
    </div>
    <mat-divider></mat-divider>


    <div fxFlex="1 0 auto" fxLayout="row">
        <div fxLayout="row" fxLayoutGap="24px">

            <mat-form-field fxFlex>
                <input matInput formControlName="joinedDate" placeholder="Joined Date">
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput formControlName="dateOfPermanency" placeholder="Date Of Permanency">
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="24px">
        <mat-form-field fxFlex>
            <mat-label>Job Title</mat-label>
            <mat-select formControlName="jobTitle">
                <mat-option>-select-</mat-option>
                <mat-option>A</mat-option>
                <mat-option>B</mat-option>
                <mat-option>etc</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex>
            <mat-label>Employment Status</mat-label>
            <mat-select formControlName="employmentStatus">
                <mat-option>-select-</mat-option>
                <mat-option>A</mat-option>
                <mat-option>B</mat-option>
                <mat-option>etc</mat-option>
            </mat-select>
        </mat-form-field>
    </div>



    <div fxLayout="row" fxLayoutGap="24px">

        <mat-form-field fxFlex>
            <mat-label>Job Category</mat-label>
            <mat-select formControlName="jobCategory">
                <mat-option>-select-</mat-option>
                <mat-option>A</mat-option>
                <mat-option>B</mat-option>
                <mat-option>etc</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex>
            <mat-label>Sub Unit</mat-label>
            <mat-select formControlName="subUnit">
                <mat-option>-select-</mat-option>
                <mat-option>A</mat-option>
                <mat-option>B</mat-option>
                <mat-option>etc</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput formControlName="costCenter" placeholder="Cost Center">
        </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutGap="24px">

        <mat-form-field fxFlex>
            <mat-label>Work Shift</mat-label>
            <mat-select formControlName="workShift">
                <mat-option>-select-</mat-option>
                <mat-option>General</mat-option>
                <mat-option>Twilight</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput formControlName="effectiveFrom" placeholder="Effective From">
        </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutGap="24px">
        <div fxLayout="row" fxLayoutGap="24px">
            <mat-form-field fxFlex>
                <textarea matInput formControlName="comments" placeholder="Comments"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="24px">
        <mat-checkbox fxFlex (change)="onChange($event)">Include Contract Details</mat-checkbox>
    </div>

    <div *ngIf="isIncludeContractDetails">
        <div class="h2 secondary-text primary-fg">Employment Contract</div>

        <div fxLayout="row" fxLayoutGap="24px">

            <mat-form-field fxFlex>
                <input matInput formControlName="startDate" placeholder="Start Date">
            </mat-form-field>

            <mat-form-field fxFlex>
                <input matInput formControlName="endDate" placeholder="End Date">
            </mat-form-field>

        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="24px">

        <mat-form-field fxFlex>
            <mat-label>Region</mat-label>
            <mat-select formControlName="region">
                <mat-option>-select-</mat-option>
                <mat-option>Region-1</mat-option>
                <mat-option>Region-2</mat-option>
                <mat-option>Region-3</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex>
            <mat-label>FTE</mat-label>
            <mat-select formControlName="fte">
                <mat-option>-select-</mat-option>
                <mat-option>0.5</mat-option>
                <mat-option>0.75</mat-option>
                <mat-option>1</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex>
            <mat-label>Temporary Department</mat-label>
            <mat-select formControlName="temporaryDepartment">
                <mat-option>-select-</mat-option>
                <mat-option>Sub Unit-1</mat-option>
                <mat-option>Sub Unit-2</mat-option>
                <mat-option>Sub Unit-3</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
            Previous
        </button>
        <button mat-raised-button matStepperNext type="button" color="accent">
            Next
        </button>
    </div>

</form>