<div class="content w-100-p h-100-p" fxLayout="column">
    <div class="header-pop accent p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 fxFlex>Add/Edit User</h2>
        <div fxLayoutAlign="end center" fxLayoutGap="16px">
            <button mat-raised-button type="submit" (click)="saveUser()">
                SAVE
            </button>
            <button mat-raised-button class="fuse-white" type="reset" (click)="_dialogRef.close(false)">
                CANCEL
            </button>
        </div>
    </div>
    <div class="p-24" fxFlex>
        <div fxLayout="column" fxLayoutGap="16px">
            <form name="userForm" [formGroup]="userForm" novalidate>
                <div fxLayout="row" fxLayoutGap="24px">
                    <mat-form-field fxFlex>
                        <input matInput placeholder="Type for hints..." [matAutocomplete]="auto"
                        [(ngModel)]="user.fullName" formControlName="employeeName" (input)="onSearchChange($event.target.value)" required>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let state of filteredStates | async" [value]="state.fullName">
                                <span>{{ state.fullName }}</span>
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="userForm.get('employeeName').hasError('required')">
                            Required
                        </mat-error>

                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <input matInput placeholder="Username" formControlName="userName" required>

                        <mat-error *ngIf="userForm.get('userName').hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                    <mat-form-field fxFlex>
                        <mat-label>ESS Role</mat-label>
                        <mat-select formControlName="essRole" (selectionChange)="changeRole($event)" required>
                            <mat-option>-select-</mat-option>
                            <mat-option *ngFor="let ess of essRole" [value]="ess">
                                {{ess.roleName}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="userForm.get('essRole').hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-label>Supervisor Role</mat-label>
                        <mat-select formControlName="supervisorRole" (selectionChange)="changeRole($event)" required>
                            <mat-option>-select-</mat-option>
                            <mat-option *ngFor="let supervisor of supervisorRole" [value]="supervisor">
                                {{supervisor.roleName}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="userForm.get('supervisorRole').hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                    <mat-form-field fxFlex>
                        <mat-label>Admin Role</mat-label>
                        <mat-select formControlName="adminRole" (selectionChange)="changeRole($event)">
                            <mat-option>-select-</mat-option>
                            <mat-option *ngFor="let role of adminRole" [value]="role">
                                {{role.roleName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option>-select-</mat-option>
                            <mat-option>Enabled</mat-option>
                            <mat-option>Disabled</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                    <mat-form-field fxFlex>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">

                        <mat-error *ngIf="userForm.get('password').hasError('required')">
                            Required
                        </mat-error>

                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Confirm Password"
                            formControlName="confirmPassword">

                        <mat-error *ngIf="userForm.get('confirmPassword').hasError('required')">
                            Required
                        </mat-error>
                        <mat-error *ngIf="userForm.hasError('notSame')">
                            Confirmation must match password
                        </mat-error>
                    </mat-form-field>

                </div>
            </form>
        </div>
    </div>