<div class="content w-100-p h-100-p" fxLayout="column">
    <div class="header-pop accent p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 fxFlex>Add/Edit Location</h2>
        <div fxLayoutAlign="end center" fxLayoutGap="16px">
            <button mat-raised-button type="submit">
                SAVE
            </button>
            <button mat-raised-button class="fuse-white" type="reset" (click)="_dialogRef.close(false)">
                CANCEL
            </button>
        </div>
    </div>
    <div class="p-24" fxFlex>
        <div fxLayout="column" fxLayoutGap="16px">
            <div fxLayout="row" fxLayoutGap="24px">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Name" required>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Country</mat-label>
                    <mat-select required>
                        <mat-option>-select-</mat-option>
                        <mat-option *ngFor="let animal of animals" [value]="animal">
                            {{animal.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="24px">
                <mat-form-field fxFlex>
                    <mat-label>Time Zone</mat-label>
                    <mat-select required>
                        <mat-option>-select-</mat-option>
                        <mat-option *ngFor="let animal of animals" [value]="animal">
                            {{animal.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <input matInput placeholder="State/Province" required>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="24px">
                <mat-form-field fxFlex>
                    <input matInput placeholder="City" required>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Zip/Postal Code" required>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="24px">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Phone" required>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Fax">
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-checkbox>EEO Enabled</mat-checkbox>
            </div>

            <mat-form-field fxFlex>
                <textarea matInput placeholder="Address"></textarea>
            </mat-form-field>

            <mat-form-field fxFlex>
                <textarea matInput placeholder="Note"></textarea>
            </mat-form-field>

        </div>
    </div>