<div class="page-layout simple h-100-p">
    <div class="h-100-p p-16" fxLayout="column" fxLayoutGap="8px">
        <div fxLayoutAlign="space-between center">
            <span fxFlex class="mat-title mb-0">Document Categories</span>
            <button mat-raised-button color="accent" (click)="save()">
                <mat-icon>add</mat-icon>
                Add Category
            </button>
        </div>
        <mat-divider></mat-divider>
        <div class="content h-100-p">
            <ngx-datatable class="material h-100-p w-100-p" fxFlex [rows]="data" [loadingIndicator]="loadingIndicator"
                [columnMode]="'flex'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'"
                [reorderable]="reorderable" [selectionType]="'checkbox'" [limit]="10">

                <ngx-datatable-column [width]="100" [canAutoResize]="false" [sortable]="false">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon mat-icon-button>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button *ngIf="!allRowsSelected" (click)="selectFn(allRowsSelected)" mat-menu-item>
                <span>Select All</span>
              </button>
              <button *ngIf="allRowsSelected" (click)="selectFn(!allRowsSelected)" mat-menu-item>
                <span>Deselect All</span>
              </button>
              <button mat-menu-item (click)="delete()">
                <span>Configure</span>
              </button>
              <button mat-menu-item (click)="delete()">
                <span>Delete Selected</span>
              </button>
            </mat-menu>
          </ng-template>

          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-checkbox class="px-24" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
          </ng-template>

        </ngx-datatable-column>

                <ngx-datatable-column name="Document Category" prop="documentCategory" [flexGrow]="2"></ngx-datatable-column>

                <ngx-datatable-column name="Actions" [flexGrow]="0.5">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        <button mat-button class="mat-icon-button" matTooltip="Edit" matTooltipPosition="right"
                            aria-label="Edit" (click)="save()">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>