<div fxFlex class="page-layout simple fullwidth pb-16">

    <div fxLayout="row" fxLayoutAlign="space-between center" class="header accent p-24">
        <h2>Add Employee wizard</h2>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
    <div class="content p-24" fxFlex fxLayout="column">



        <ng-container *ngFor="let s of sections">

            <div *ngIf="s.available" style="border: 1px solid gray; height: 150px; ">
                {{s.name}}</div>

        </ng-container>


    </div>
</div>