
<div fxFlex class="page-layout simple fullwidth">

    <div fxLayout="row" fxLayoutAlign="space-between center" class="header accent p-24">
        <h2>Add Employee wizard</h2>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
    <div class="content" fxFlex fxLayout="column">

        <mat-horizontal-stepper fxFlex="100" [linear]="false" #stepper>
            <mat-step *ngFor="let s of sections | availableOnly">
                <app-component-loader [componentMapping]="componentMapping" [section]="s" [allSections]="sections">
                </app-component-loader>                
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>