<form [formGroup]="generalInfoForm">

    <label>
        Name:
        <input type="text" formControlName="Name">
    </label>

    <label>
        TaxId:
        <input type="text" formControlName="TaxId">
    </label>

    <label>
        Email:
        <input type="text" formControlName="Email">
    </label>

    <label>
        Phone:
        <input type="text" formControlName="Phone">
    </label>
    <br />
    <label>
        RegistrationNumber:
        <input type="text" formControlName="RegistrationNumber">
    </label>

    <label>
        Address:
        <input type="text" formControlName="Address">
    </label>

    <label>
        City:
        <input type="text" formControlName="City">
    </label>

    <label>
        State:
        <input type="text" formControlName="State">
    </label>
    <br />
    <label>
        ZipCode:
        <input type="text" formControlName="ZipCode">
    </label>

    <label>
        Country:
        <input type="text" formControlName="Country">
    </label>

    <label>
        Note:
        <input type="text" formControlName="Note">
    </label>

    <button type="submit" (click)="saveGeneralInfo()">Save</button>
    <button (click)="getGeneralInfo()">Get</button>
</form>