<div class="content w-100-p h-100-p" fxLayout="column">
    <div class="header-pop accent p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 fxFlex>Add Employee</h2>
        <div fxLayoutAlign="end center" fxLayoutGap="16px">
            <button mat-raised-button type="submit">
                Next
            </button>
            <button mat-raised-button class="fuse-white" type="reset" (click)="_dialogRef.close(false)">
                CANCEL
            </button>
        </div>
    </div>
    <div class="p-24" fxFlex>
        <div fxLayout="column" fxLayoutGap="16px">
            <div fxLayout="row" fxLayoutGap="24px">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Full Name" required>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Middle Name">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Last Name">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="24px">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Employee Id" required>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Location">
                </mat-form-field>
                <div class="file-uploader">
                    <input hidden type="file" #fileInput />
                    <button mat-fab color="warn" class="add-file-button" (click)="fileInput.click()"
                        aria-label="Add file" [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                        <mat-icon>image</mat-icon>
                    </button>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="24px">
                <mat-checkbox fxFlex (change)="onChange($event)">Create Login Details</mat-checkbox>
            </div>

            <div *ngIf="isChecked">
                <div fxLayout="row" fxLayoutGap="24px">
                    <mat-form-field fxFlex>
                        <input matInput placeholder="User Name" required>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-label>Status</mat-label>
                        <mat-select required>
                            <mat-option>Enabled</mat-option>
                            <mat-option>Disabled</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap="24px">
                    <mat-form-field fxFlex>
                        <input matInput placeholder="Password" required>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <input matInput placeholder="Confirm Password" required>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                    <label fxFlex="300px">
                        For a strong password, please use a hard to guess combination of text with upper and lower case
                        characters, symbols and numbers
                    </label>
                </div>

                <div fxLayout="row" fxLayoutGap="24px">
                    <mat-form-field fxFlex>
                        <mat-label>ESS Role</mat-label>
                        <mat-select required>
                            <mat-option>-- Select --</mat-option>
                            <mat-option>Default ESS</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-label>Supervisor Role</mat-label>
                        <mat-select required>
                            <mat-option>-- Select --</mat-option>
                            <mat-option>Default Supervisor</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap="24px">
                    <mat-form-field fxFlex="300px">
                        <mat-label>Admin Role</mat-label>
                        <mat-select required>
                            <mat-option>-- Select --</mat-option>
                            <mat-option>Gobal Admin</mat-option>
                            <mat-option>Asset Manager</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>