<div class="page-layout simple fullwidth">
    <div fxFlex.lt-md="none" class="p-16" fusePerfectScrollbar>
        <div class="p-16 mat-elevation-z2" fxLayoutGap="16px" fxLayout="column" fusePerfectScrollbar>
            <div fxLayout="column" fxLayoutGap="16px">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                    <mat-icon class="secondary-text primary-fg">info</mat-icon>
                    <div class="h2 secondary-text primary-fg">Leave Period</div>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="column">
                    <div fxLayout="row" fxLayoutGap="24px">
                        <mat-form-field fxFlex>
                            <mat-select placeholder="start Month" [disabled]="true">
                                <mat-option [value]="0">Select</mat-option>
                                <mat-option [value]="1">Casual Leave</mat-option>
                                <mat-option [value]="2">FMLA - US</mat-option>
                                <mat-option [value]="3">Maternity Leave - US</mat-option>
                                <mat-option [value]="4">Sick Leave - US</mat-option>
                                <mat-option [value]="5">Vacation Leave - US</mat-option>
                                <mat-option [value]="6">Work From Home - US</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex>
                            <mat-select placeholder="start Date" [disabled]="true">
                                <mat-option [value]="0">Select</mat-option>
                                <mat-option [value]="1">Casual Leave</mat-option>
                                <mat-option [value]="2">FMLA - US</mat-option>
                                <mat-option [value]="3">Maternity Leave - US</mat-option>
                                <mat-option [value]="4">Sick Leave - US</mat-option>
                                <mat-option [value]="5">Vacation Leave - US</mat-option>
                                <mat-option [value]="6">Work From Home - US</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="24px">
                        <mat-form-field fxFlex>
                            <input matInput placeholder="December 31" disabled="true">
                        </mat-form-field>

                        <mat-form-field fxFlex>
                            <input matInput placeholder="Current Leave Period" disabled="true">
                        </mat-form-field>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>